<div class="toolbar">
  <div class="elementos-toolbar">
    <div class="logo-instagram" [routerLink]="['']">
      <img src="./assets/logos/instagram.png" alt="logo" />
    </div>
    <div class="input-pesquisa">
      <input type="text" placeholder="Pesquisar" />
    </div>
    <div class="acoes">
      <ul>
        <li *ngFor="let item of itensToolbar" [routerLink]="[item.rota]">
          <img [src]="'./assets/icones/'+ verificarIcone(item) + '.svg'" alt="icone" />
        </li>
      </ul>
    </div>
  </div>
</div>
