.histories {
  background-color: #FFFFFF;
  position: relative;
  max-width: 100%;

  .avatar {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 100%;

    .div-avatar {
      display: flex;
      margin: 0 0 20px 0;
    }
  }

  .seta-avanca {
    position: relative;
    right: 40px;
  }

  .seta-retorna {
    position: relative;
    left: 10px;
  }
}

.seta-avanca,
.seta-retorna {
  margin-bottom: 50px;
}
