.setas {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 20px;
  width: 30px;
  height: 30px;

  material-icons {
    color: transparent;
  }
}
